/*At the moment, these are all personilized, albeit simple, stylings*/

* {
  box-sizing:border-box;
}

body {
  margin-bottom: 65px;
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.grid {
  display:grid;
  grid-gap:0px;
  grid-template-areas:
  "hd"
  "nav"
  "about"
  "portfolio"
  "contact"
  "socials"
  "ft";
  align-self:stretch;
}

.logo {
  grid-area:hd;
  align-self:flex-end;
  position: sticky;
  right:0;
  top:0;
  z-index:2;
  background-color:white;
  
 } 
/* id="navs" class= "nest nav" */
.nav {
  grid-area:nav;
  position: sticky;
  top:4.1rem;
  z-index: 2;
  padding:10px;
  border-style: solid;
  border-bottom-width:1px ;
  border-color:darkgrey;
  }
  /*assignment for the topside links*/
.nest {
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: 1fr 1fr 1fr;
  }

.about{
  display: grid;
  grid-area:about;
  grid-template-rows: 1fr 11fr;
  grid-template-columns:100%;
  position: relative;
}

.portfolio {
  grid-area:portfolio;
  /* text-align:center; */
}

.contact {
  grid-area:contact;
  margin:0 auto;
}

.socials {
  grid-area:socials
}

.footer {
  grid-area:ft;
}  
/* .emailContainer {
  border:1px solid black;
  margin: 20px auto;
  padding:5px;
  display:inline-block;
  width:55vw;
  height:15vh;
} */

.selfPicture {
  width:65px;
  height:65px;
  border-radius:25px;
  position: absolute;
  right:0;
  bottom:0;
  padding:2px;
  margin:10px;
}

.mockup{
   width:50%;
   margin:5px auto;
}
/* need to add class to this for the multiImages */
img {
  width:100%;
}

.header {
  Font-Family: 'Work Sans', Sans-Serif;
  Font-Size: 2.8125em;  
  padding:10px;
  border:0;
  text-align:left;
  border-style:solid;
  border-bottom-width:1px;
  border-color:darkgrey;
}
/* add class for more specificity */
h2 {
  Font-Family: 'Work Sans', Sans-Serif;
  font-size:1.45em;
  text-align:center;
}
/* add class for more specificity */
h3 {
  Font-Family: 'Work Sans', Sans-Serif;
  font-size:1.45em;
  text-align:center;
}
/* add class for more specificity */
h4 {
  font-size: 1.15em;
  text-align:center;
}
/* add class for more specificity */
p {
  Font-Family: 'Open Sans', Sans-Serif;
  margin:10px;
  padding:2px;
  word-spacing:5px;
  line-height:25px;
  font-size:1em;
}

.footer {
  border-top-style:solid; border-width:7px;
  text-align:center;border-color:grey;
  max-height:50px;background-color:black; color:white;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
}  
/*link styling*//* add class for more specificity */
a {
  text-decoration:none;
  color:black;
  }
/*link effect*/
a:hover {
  color: grey;
  cursor:pointer;
  }
a > .portfolioNav {
  border-left: 1px solid black;
  border-right: 1px solid black;
  }  

/*nav styling*/
#navs {
    background-color:lightgrey;
    align-self:end;
  }
.contentContainer {
  border-style: solid;
  border-width:2px;
  border-color:darkgrey;
  background-color:#ffffff;
  margin:25px;
  padding:10px;
  max-height: auto;
  }
.buttonContainer{   
  margin: 10px auto;
  text-align:center; 
  }
  .techStackText {
    text-align:center;
  }
/* what2Eat */
.what2eatButton {
 border:1px solid black;
 background-color:#8FCFDE;
 color:black;
 border-radius:5px;
 margin:5px;
 padding:5px;
 font-size: 1.2em;
}
.what2eatButton:hover {
  border:1px solid #8FCFDE;
  background-color:black;
  color:#8FCFDE;
}
.what2eatContainer {
  background-color:#D3D4D4;
}
.melataButton {
  border:2px solid black;
  background-color:#BDD688;
  color:black;
  border-radius:5px;
  margin:5px;
  padding:2px;
  font-size: 1.2em;
 }
 .melataButton:hover {
   border:2px solid #BDD688;
   background-color:black;
   color:#BDD688;
 }
 .melataContainer {
   color:white;
   background-color:#4D4D4D;
 }
 .spanishFlashButton {
  border:2px solid white;
  background-color:#5555d5;
  color:white;
  border-radius:5px;
  margin:5px;
  padding:2px;
  font-size: 1.2em;
 }
 .spanishFlashButton:hover {
   border:2px solid #5555d5;
   background-color:white;
   color:#5555d5;
 }
 .spanishFlashContainer {
   color:white;
   background-color:#5555d5;
 }
 .artOfFindingButton {
  border:2px solid black;
  background-color:#fffae6;
  color:black;
  border-radius:5px;
  margin:5px;
  padding:2px;
  font-size: 1.2em;
 }
 .artOfFindingButton:hover {
   border:2px solid #fffae6;
   background-color:black;
   color:#fffae6;
 }
 .artOfFindingContainer {
    background-color:#fffae6;
 }
 
  @media only screen and (min-width: 640px) {
    body {
         max-width:auto;
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-rows:auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"hd nav"
                            "about about"
                            "portfolio portfolio"
                            "contact contact"
                            "socials socials"
                            "ft ft"
        ;}
    #navs {
      background-color:white;
      top:0;
      padding-top:32px;
    }   
    .about{
      margin:25px 150px;
    } 
}

@media only screen and (min-width: 980px){
    .grid {
      grid-template-rows:auto;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-areas:"hd hd nav"
                          "about about about"
                          "portfolio portfolio portfolio"
                          "contact contact contact"
                          "socials socials socials"
                          "ft ft ft"
        ;}
   
}












































/* 
/*image styling*/
/* img.self {
  max-height:200px;
  max-width:200px;
  float:left;
  margin:15px;
  padding:0px;
  } */
/*image styling for .tag class*/
/* img.tag {
  max-width:75px;
  height:55px;
  margin-left: 30px;
  } */

/*created a grid template for mobile with media queries at bottom of page*/



/*assigned logo class to grid area header

navs, nav, nest
  background-color: #454545;=>black?
  #8FCFDE=>blue
  color:#D3D4D4;=>grey

*/
/* 

/*assignment for the topside links*/
.nest {
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: 1fr 1fr 1fr;
  }

/* 

.connect {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns:1fr;
	border-style:solid;
  border-width:2.5px;
  border-color:grey;
  max-height:150px;
 } */
/* social link boxes*/
/* .socials {
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns:1fr 1fr 1fr;
  }
  #socials {
    border-style: solid;
    border-width:2px;
    border-color:darkgrey;
    text-align:center;
    background-color:#ffffff;
    margin:25px;
    padding:10px;
    padding-top: 11px;
    margin-top: 11px;
  } */






/*footer stylings*/

/*side links styling*/
/* .effect {
  padding-top: 11px;
  margin-top: 11px;
  } */
/*header styling*/

/*Bio styling*/

/* social stylings*/







/*margin on portfolio @980 needs to be fixed
*/






/* 
TITLES
Font-Family: 'Work Sans', Sans-Serif;
Font-Size: 45px;

SUB_LETTERING
Font-Family: 'Open Sans', Sans-Serif;
Font-Size: 15px; 
*/ 