
* {
  box-sizing:border-box;
}

body {
  margin-bottom: 65px;
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
/* need to add class to this for the multiImages */
img {
  width:100%;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {  
  cursor:pointer;
}

.topNavText {
  Font-Family: 'Work Sans', Sans-Serif;
  font-size:1.45em;
  text-align:center;
}

.titleText {
  Font-Family: 'Work Sans', Sans-Serif;
  font-size:1.45em;
  text-align:center;
}

.footerText {
  font-size: 1.15em;
  text-align:center;
}

p.normalText {
  Font-Family: 'Open Sans', Sans-Serif;
  margin:10px;
  padding:2px;
  word-spacing:5px;
  line-height:25px;
  font-size:1em;
}

.grid {
  display:grid;
  grid-gap:0px;
  grid-template-areas: "hd"
                       "nav"
                       "about"
                       "portfolio"
                       "contact"
                       "socials"
                       "ft";
  align-self:stretch;
}
/*-- Header styles --*/
.logo {
  grid-area:hd;
  align-self:flex-end;
  position: sticky;
  right:0;
  top:0;
  z-index:2;
  background-color:white;  
} 

.nav {
  grid-area:nav;
  position: sticky;
  top:4.1rem;
  z-index: 2;
  padding:10px;
  border-style: solid;
  border-bottom-width:1px ;
  border-color:darkgrey;
}
 
.topNavContainer {
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header {
  Font-Family: 'Work Sans', Sans-Serif;
  Font-Size: 2.8125em;  
  padding:10px;
  border:0;
  text-align:left;
  border-style:solid;
  border-bottom-width:1px;
  border-color:darkgrey;
}

.portfolioNav {
  border-left: 1px solid black;
  border-right: 1px solid black;
}  

/*-- nav styling --*/
#navs {
    background-color:lightgrey;
    align-self:end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 32%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align:center;
}

.portfolioLinks {
  Font-Family: 'Work Sans', Sans-Serif;
  text-align:center;
  font-size: 1em;
}

/*-- About Styles --*/
.about {
  display: grid;
  grid-area:about;
  grid-template-rows: 1fr 11fr;
  grid-template-columns:100%;
  position: relative;
}

.selfPicture {
  width:65px;
  height:65px;
  border-radius:25px;
  position:absolute;
  right:0px;
  bottom:0;
  padding:2px;
  margin:5px;
}

.contentContainer {
  border-style: solid;
  border-width:2px;
  border-color:darkgrey;
  background-color:#ffffff;
  margin:10px;
  margin-bottom:20px;
  padding:10px;
  max-height: auto;
  border-radius:5px;
  transition: 0.15s;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

/* .contentContainer:hover,
.contentContainer:focus {
    transition: 0.15s;
    transform: scale(1.01);
    -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
       -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
} */

/*-- Portfolio Section --*/
.portfolio {
  grid-area:portfolio;
}

.mockup {
  width:40%;
  margin:5px auto;
}

.techStackContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;      
    margin:0 auto;
} 

.techStackImage {
  margin:2px;
  padding:2px; 
  width:50px;
  height:50px;
}

.buttonContainer {   
  margin: 10px auto;
  text-align:center; 
}

.techStackText {
  text-align:center;
}

/* what2Eat */
.what2eatButton {
 border:1px solid black;
 background-color:#8FCFDE;
 color:black;
 border-radius:5px;
 margin:5px;
 padding:5px;
 font-size: 1.2em;
}
.what2eatButton:hover {
  border:1px solid #8FCFDE;
  background-color:black;
  color:#8FCFDE;
  cursor:pointer;
}
.what2eatContainer {
  background-color:#D3D4D4;
}

/*-- Melata --*/
.melataButton {
  border:2px solid black;
  background-color:#BDD688;
  color:black;
  border-radius:5px;
  margin:5px;
  padding:5px;
  font-size: 1.2em;
 }
 .melataButton:hover {
   border:2px solid #BDD688;
   background-color:black;
   color:#BDD688;
   cursor:pointer;
 }
 .melataContainer {
   color:white;
   background-color:#4D4D4D;
 }

 /*-- Spanish Flash --*/
 .spanishFlashButton {
  border:2px solid white;
  background-color:#5555d5;
  color:white;
  border-radius:5px;
  margin:5px;
  padding:5px;
  font-size: 1.2em;
 }
 .spanishFlashButton:hover {
   border:2px solid #5555d5;
   background-color:white;
   color:#5555d5;
   cursor:pointer;
 }
 .spanishFlashContainer {
   color:white;
   background-color:#5555d5;
 }
 .spanishFlashtechStackContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align:center;      
  margin:0 auto;
  border:2px solid #4D4D4D;
  width: 220px;
  height:60px;
  background-color:#f5f7f9;
  border-radius:5px;
}

 /*-- Art of Finding --*/
 .artOfFindingButton {
  border:2px solid #4D4D4D;
  background-color:#fffae6;
  color:#4D4D4D;
  border-radius:5px;
  margin:5px;
  padding:5px;
  font-size: 1.2em;
 }
 .artOfFindingButton:hover {
   border:2px solid #fffae6;
   background-color:#4D4D4D;
   color:#fffae6;
   cursor:pointer;
 }
 .artOfFindingContainer {
    background-color:#fffae6;
 }

/*-- Contact --*/
.contact {
  grid-area:contact;
}

.emailContainer {
  background-color: rgba(8, 118, 243, 0.493);
  border-style: 2px solid #4D4D4D;
  margin:20px auto; 
  width:280px;
  border-radius: 5px;
  padding:10px;
  font-size: 28px;
}

/* .emailContainer:hover,
.emailContainer:focus
 {
    transition: 0.15s;
    transform: scale(1.01);
    -webkit-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
       -moz-box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.35);
 } */

.emailAddressInput, 
.emailMessageInput {
  font-Family: 'Open Sans', Sans-Serif;
  padding:8px;
  font-size: 1.1rem;
  width:100%;
  outline: none;
  border: none;
  border-radius:2px;
  background-color:#f5f7f9;
 }

.emailSendButton {  
  padding:5px;
  display:block;
  margin:10px auto;
  width:175px;
  background-color:#f5f7f9;
  border-radius:5px;
  color:#4D4D4D;
  height:35px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  transition: 0.15s;
  -webkit-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
       box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
}
.emailSendButton:focus,
.emailSendButton:hover {
  cursor:pointer;
  color:#f5f7f9;
  background-color:#4D4D4D;
}

input::placeholder,
textarea::placeholder {
  color: #4D4D4D;
}

/*-- Socials --*/
.socials {
  grid-area:socials;
  grid-template-rows: 1fr 11fr;
  grid-template-columns:100%;
  }
.socialBoxes {
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns:1fr 1fr 1fr;
  margin-top: 20px;
  }
 
#socials {
   text-align:center;
}


.fab {
  font-size:4.5em;
  margin:5px;
  color:lightgrey;  
}

.tag:hover {  
   color:#4D4D4D;
}

/* Footer */
.footer {
  grid-area:ft;
}  
.footer {
  font-Family: 'Open Sans', Sans-Serif;
  border-top-style:solid; border-width:7px;
  text-align:center;border-color:grey;
  max-height:50px;background-color:black; color:white;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  padding:2px;
  font-size:.9em;
} 
 
@media only screen and (min-width: 640px) {
    body {
         max-width:auto;
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-rows:auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"hd nav"
                            "about about"
                            "portfolio portfolio"
                            "contact contact"
                            "socials socials"
                            "ft ft"
        ;}
    #navs {
      background-color:white;
      top:0;
      padding-top:32px;
    }   
    .contentContainer{
      margin:25px 150px;
    }
    .socials {
      margin:25px 200px;;
    }
    
}

@media only screen and (min-width: 980px){
    .grid {
      grid-template-rows:auto;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-areas:"hd hd nav"
                          "about about about"
                          "portfolio portfolio portfolio"
                          "contact contact contact"
                          "socials socials socials"
                          "ft ft ft"
        }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; 
      border-top:solid .5px black;
    }
        
    .dropdown-content a:hover {background-color:grey;color:white;}
        
    .dropdown:hover .dropdown-content {display: block;}
           
}
