
* {
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin-bottom: 65px;
  background: #f6f8f9; 
  background: -moz-linear-gradient(top, white 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
hr {
  display:none;
}
label {
  display:none;
  color:white;
}
/* Page Layout */
.grid {
    display:grid;
    grid-gap:0px;
    grid-template-areas: "hd"
                         "nav"
                         "about"
                         "businesses"
                         "portfolio"
                         "contact"
                         "socials"
                         "ft";
    align-self:stretch;
}

/* Top-Level Heading Section */
.logo {
  grid-area:hd;
  align-self:flex-end;
  position: sticky;
  right:0;
  top:0;
  z-index:2;
  background-color:white;  
}

.nav {
  grid-area:nav;
  position: sticky;
  top:4.1rem;
  z-index: 2;
  color:#4D4D4D;
  font-weight:550;
  padding:10px;
  border-style: solid;
  border-bottom-width:1px ;
  border-color:darkgrey;
}

.topNavContainer {
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header {
  Font-Family: 'Work Sans', Sans-Serif;
  Font-Size: 2.8125em;
  font-weight:550;  
  padding:10px;
  border:0;
  color:#4D4D4D;
  text-align:left;
  border-style:solid;
  border-bottom-width:1px;
  border-color:darkgrey;
}  

/*-- nav styling --*/
#navs {
    background-color:lightgrey;
    align-self:end;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-weight:550; 
  background-color:white;
  min-width: 32%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align:center;
}

.portfolioLinks {
  Font-Family: 'Work Sans', Sans-Serif;
  text-align:center;
  font-size: 1em;
}

.topNavText {
  Font-Family: 'Work Sans', Sans-Serif;
  font-size:1.45em;
  text-align:center;
}

.portfolioNav {
  border-left: 1px solid black;
  border-right: 1px solid black;
} 

/* General Body Styles */
.contentContainer {
  border: 1px solid whitesmoke;
  color:white;
  background-color:#4D4D4D;  
  margin:10px;
  margin-bottom:20px;
  padding:10px;
  max-height: auto;
  border-radius:5px;
  transition: 0.15s;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.charredStyle {
  background-color: #75060f;
}

.kathleenStyle {
  background-color: #6d69bf;
}

.businessContainer {
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.businessSquares {
  width:100%;
  margin: 2px auto;
}
.businessDescription {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.businessButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.businessButton {
  border:2px solid #4D4D4D;
  background-color:#f5f7f9;
  color:#4D4D4D;
  border-radius:5px;
  margin:2px;
  padding:2px;
  font-size: 1.2em;
  width: 40%
}
.businessPictures {
  width:100%;
  min-width:100px;
  max-height: 250px;
  max-width: 250px;
  margin:2px auto;
  padding:5px; 
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(141, 243, 8, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(141, 243, 8, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(141, 243, 8, 0.3);
}
.businessPictureLink {
  border-radius: 10px;
}
.sectionHeader {
  font-Family: 'Work Sans', Sans-Serif;
  font-size:2.2em;
  font-weight:800;
  text-align:center;
  padding-bottom:10px;
}

.titleText {
  font-Family: 'Work Sans', Sans-Serif;
  font-size:1.9em;
  font-weight:500;
  text-align:center;
}

.footerText {
  font-size: 1.15em;
  text-align:center;
}

p.normalText {
  Font-Family: 'Open Sans', Sans-Serif;
  margin:10px;
  padding:2px;
  word-spacing:5px;
  line-height:25px;
  font-size:1em;
  text-align:justify;
}

.mockup {
  width:40%;
  margin:5px auto;
  min-width: 200px;
}

.techStackContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;      
    margin:0 auto;
} 

.techStackImage {
  margin:2px;
  padding:2px; 
  max-width: 100px;
  height: 100px;
  border-radius: 10px;
 }
 
.techStackText {
  font-Family: 'Open Sans', Sans-Serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  padding:5px;
}

.buttonContainer {   
  margin: 10px auto;
  text-align:center; 
}

.projectButtons {
  border:2px solid #4D4D4D;
  background-color:#f5f7f9;
  color:#4D4D4D;
  border-radius:5px;
  margin:5px;
  padding:5px;
  font-size: 1.2em;
}

.projectButtons:hover {
    color:#f5f7f9;
    background-color:#4D4D4D;
    border: solid 2px #f5f7f9;
    cursor:pointer;
}

/* About Section */
.about {
  grid-area:about;
  grid-template-rows: 1fr 5fr;
  grid-template-columns:100%;
}

.selfPicture {
  width:65px;
  height:65px;
  border-radius:25px;
  display:block;  
  padding:2px;
  margin:10px auto;
}

/*-- Businesses Section --*/
.businesses {
  grid-area:businesses;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1px;
}

/*-- Portfolio Section --*/
.portfolio {
  grid-area:portfolio;
}

/*-- Contact Section--*/
.contact {
  grid-area:contact;
}

/* Email Section */
.emailContainer {
  background-color: #4D4D4D;
  border: 1px solid whitesmoke;
  margin:20px auto; 
  width:280px;
  border-radius: 5px;
  padding:10px;
  font-size: 28px;  
  transition: 0.15s;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.emailAddressInput, 
.emailMessageInput {
  font-Family: 'Open Sans', Sans-Serif;
  padding:8px;
  font-size: 1.1rem;
  width:100%;
  outline: none;
  border: solid 1px white;
  border-radius:4px;
  background-color:#f5f7f9;
 }

.emailSendButton {  
  padding:5px;
  display:block;
  margin:10px auto;
  width:175px;
  background-color:#f5f7f9;
  border-radius:5px;
  color:#4D4D4D;
  height:35px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  transition: 0.15s;
  -webkit-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
       box-shadow: 0.5px 1px 8px 1px rgba(0, 0, 0, 0.25);
}

.emailSendButton:focus,
.emailSendButton:hover {
  cursor:pointer;
  color:#f5f7f9;
  background-color:#4D4D4D;
  border: solid 2px #f5f7f9;
}

input::placeholder,
textarea::placeholder {
  color: #4D4D4D;
}

/*-- Social Icon Section --*/
.socials {
  grid-area:socials;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns:100%;
}
.socialBoxes {
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns:1fr 1fr 1fr;
  margin-top: 20px;
}
 
#socials {
   text-align:center;
}

.emailLinkText {
  font-Family: 'Work Sans', Sans-Serif;
  font-size:1.3em;
  font-weight:600;
  text-align:center;
  padding-top:40px;
}

.fab {
  font-size:3.5em;
  margin:5px;
  color:lightgrey;  
}

.tag:hover {  
   color:#4D4D4D;
}

/* Footer Section */
.footer {
  grid-area:ft;
}

.footer {
  font-Family: 'Open Sans', Sans-Serif;
  border-top-style:solid; border-width:7px;
  text-align:center;border-color:grey;
  max-height:50px;background-color:black; color:white;
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  padding:3px;
  font-size:.9em;
} 
 
img {
  width:100%;
  }

a {
  text-decoration:none;
  color:rgb(136, 132, 132);
  }

a:hover {  
  cursor:pointer;
  }

/* Media Queries for Screens Above 640px */
@media only screen and (min-width: 640px) {
    body {
         max-width:auto;
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-rows:auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"hd nav"
                            "about about"
                            "businesses businesses"
                            "portfolio portfolio"
                            "contact contact"
                            "socials socials"
                            "ft ft"
        }
    #navs {
      background-color:white;
      top:0;
      padding-top:32px;
    }   
    .contentContainer{
      margin:25px 150px;
    }
    .socials {
      margin:25px 200px;;
    }    
}

@media only screen and (min-width: 980px){
    .grid {
      grid-template-rows:auto;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-areas:"hd hd nav"
                          "about about about"
                          "businesses businesses businesses"
                          "portfolio portfolio portfolio"
                          "contact contact contact"
                          "socials socials socials"
                          "ft ft ft"
    }
    .contentContainer{
      margin:25px 200px;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; 
      border-top:solid .5px black;
    }        
    .dropdown-content a:hover {background-color:grey;color:white;}
    .dropdown:hover .dropdown-content {display: block;}
    hr {
      margin:75px 200px;
      display:inherit;
    }
}
li {
  list-style:none;
}
